@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    overflow-x:hidden;
  }
.navbar-div .header {
    background-color: white;
    color: rgb(75, 75, 237);
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    position: fixed;
}
.navbar-div .header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
}
.navbar-div .navbar{
    /* margin-left: 45rem;
    position:fixed; */
    float:right;
}
.navbar-div .header .navbar a {
    margin-left:2rem;
    font-size: 1.5rem;
    color: black;
    position: relative;
    
}
.navbar-div .header .navbar a::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #043c84;
    position: absolute;
    left: 0;
    bottom:0;
    transition: 0.5s;
}

.navbar-div .header .navbar a:hover::after{
    background-color: #043c84;
    width: 100%;
}