.blogContainer{
    margin-left: 5rem;
    flex-direction: row;
}

.container{
    padding: 2rem;
    /* flex-direction: row; */
    display: flex;
}


.cardBody{
    width: 35rem;
    height: 12rem;
    padding: 1rem;
    border-radius: 0.5rem;
    /* border: 1px solid black; */
    overflow: hidden;
    background-color: gainsboro;
}

.title{

}

.textfield{
    height: 4.8rem;
    overflow: hidden;
}